# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Guilty\Documents\UWT 2018 - present\UWT 2021 - 2022\Winter\TCSS 360\Group Assignment\Group_Maze\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
